        html {
            font-family: "Roboto Mono", Arial, Tahoma;
            text-align: center;
			background-color: #f5f5dc;
        }
        
        body {
            margin: 0;
            line-height: 1.4rem;
        }
        
        p {
            font-style: italic;
        }
        
        form {
            text-align: left;
            margin: 1em auto;
            padding: 2.5rem 2rem;
            border-radius: 0.25rem;
            background-color: whitesmoke;
            color: black;
            font-size: 1.2em;
            width: fit-content;
            clear: both;
        }
        
        label {
            display: inline-block;
            width: fit-content;
        }
        
        input {
            margin: 10px;
            position: relative;
            clear: both;
        }
        
        #name,
        #email,
        #number {
            width: 100%;
            clear: both;
            height: 1.8em;
        }
        
        #dropdown {
            width: 100%;
            clear: both;
            height: 1.8em;
            margin-left: 1em;
        }
        
        #menu {
            width: 100%;
        }
        
        #gender {
            width: 100%;
            clear: both;
        }
        
        #textarea {
            height: 100px;
            width: 100%;
        }